.canvas-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.canvas {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: radial-gradient(rgb(73 80 87 / 60%) 0.8px, transparent 0);
	cursor: move;
	user-select: none;
}

.canvas-overlay {
	z-index: 9999;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;

	@media print {
		display: none;
	}
}

.canvas-group {
	& > [data-kind='icon'] {
		pointer-events: bounding-box;
	}
}

.canvas-focus {
	pointer-events: none;
}
