@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@theme {
	--radius-lg: 0.5rem;
	--radius-md: calc(0.5rem - 2px);
	--radius-sm: calc(0.5rem - 4px);
	--color-background: hsl(0 0% 100%);
	--color-foreground: hsl(240 10% 3.9%);
	--color-card: hsl(0 0% 100%);
	--color-card-foreground: hsl(240 10% 3.9%);
	--color-popover: hsl(0 0% 100%);
	--color-popover-foreground: hsl(240 10% 3.9%);
	--color-primary: hsl(240 5.9% 10%);
	--color-primary-foreground: hsl(0 0% 98%);
	--color-secondary: hsl(240 4.8% 95.9%);
	--color-secondary-foreground: hsl(240 5.9% 10%);
	--color-muted: hsl(240 4.8% 95.9%);
	--color-muted-foreground: hsl(240 3.8% 46.1%);
	--color-accent: hsl(240 4.8% 95.9%);
	--color-accent-foreground: hsl(240 5.9% 10%);
	--color-destructive: hsl(0 84.2% 60.2%);
	--color-destructive-foreground: hsl(0 0% 98%);
	--color-border: hsl(240 5.9% 90%);
	--color-input: hsl(240 5.9% 90%);
	--color-ring: hsl(240 10% 3.9%);
	--color-chart-1: hsl(12 76% 61%);
	--color-chart-2: hsl(173 58% 39%);
	--color-chart-3: hsl(197 37% 24%);
	--color-chart-4: hsl(43 74% 66%);
	--color-chart-5: hsl(27 87% 67%);
	--color-sidebar: hsl(0 0% 98%);
	--color-sidebar-foreground: hsl(240 5.3% 26.1%);
	--color-sidebar-primary: hsl(240 5.9% 10%);
	--color-sidebar-primary-foreground: hsl(0 0% 98%);
	--color-sidebar-accent: hsl(240 4.8% 95.9%);
	--color-sidebar-accent-foreground: hsl(240 5.9% 10%);
	--color-sidebar-border: hsl(220 13% 91%);
	--color-sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@utility scrollbar-hidden {
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

@utility w-available {
	width: fill-available;
	width: -webkit-fill-available;
	width: -moz-available;
}

@layer base {
	:root {
		background-color: #ffffff;
		color: #213547;
		color-scheme: light;
		font-weight: 400;
		line-height: 1.5;
		font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	* {
		@apply border-border select-none;
	}

	body {
		font-feature-settings: 'rlig' 1, 'calt' 1;
		@apply bg-background text-foreground;
	}

	a {
		color: #646cff;
		font-weight: 500;
		text-decoration: inherit;

		&:hover {
			color: #747bff;
		}
	}

	body {
		display: flex;
		place-items: center;
		min-width: 320px;
		min-height: 100vh;
		margin: 0;
	}

	h1 {
		font-size: 3.2em;
		line-height: 1.1;
	}

	button {
		padding: 0.6em 1.2em;
		border: 1px solid transparent;
		border-radius: 8px;
		background-color: #f9f9f9;
		font-weight: 500;
		font-size: 1em;
		font-family: inherit;
		cursor: pointer;
		transition: border-color 0.25s;

		&:hover {
			border-color: #646cff;
		}

		&:focus,
		&:focus-visible {
			outline: none;
		}
	}

	::-webkit-scrollbar {
		width: 16px;
	}

	::-webkit-scrollbar-thumb {
		border: 4px solid transparent;
		border-radius: 9999px;
		background-clip: content-box;

		@apply bg-accent;
	}

	::-webkit-scrollbar-corner {
		display: none;
	}
}
