@import "tailwindcss";

@theme {
  --color-*: initial;

  /* surfaces */
  --color-background: #FAF9F7;
  --color-card: #FEFAF6;
  --color-border: #E6E2DC;

  /* text */
  --color-foreground: #2E2A26;
  --color-foreground-muted: #7A736B;

  /* brand */
  --color-primary: #E6CCC6;       /* softer, lighter than #CFA6A0 */
  --color-primary-hover: #DDBEB7; /* lighter hover version of #B78E88 */
  --color-primary-soft: #FAF1EF;  

  /* accent */
  --color-accent: #C6A96A;

  /* error */
  --color-error: #B85C57;        /* muted brick red */
  --color-error-hover: #A64F4A;  /* darker for interaction */
  --color-error-soft: #F3DAD8;

  /* misc */
  --color-black: #000000;
  --color-white: #FFFFFF;
}

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.no-scrollbar {
  -ms-overflow-style: none;    /* IE and old Edge */
  scrollbar-width: none;       /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}

@layer base {
  /* All buttons */
  button {
    @apply transition duration-150 ease-in-out; /* smooth transition */
  }
  button:hover {
    @apply brightness-[0.975];
  }
  

  /* All inputs */
  input {
    @apply transition duration-150 ease-in-out;
  }
  input:hover {
    @apply brightness-95;
  }
  input:focus {
    @apply outline-accent outline-2;
  }

  /* Optional: textareas or selects */
  textarea:hover,
  select:hover {
    @apply brightness-95;
  }
}