.panel {
	display: flex;
	flex-direction: column;
	width: 30%;
	min-width: 200px;
	height: 100%;
	padding-top: 8px;
	padding-right: 8px;
	padding-left: 8px;
	gap: 8px;

	@media print {
		display: none;
	}

	& > :first-child {
		text-align: center;
	}
}

.menu {
	display: flex;
	position: absolute;
	bottom: 8px;
	left: 8px;
	gap: 4px;
	user-select: none;

	@media print {
		display: none;
	}

	& > * {
		height: 20px !important;
		padding-right: 8px !important;
		padding-left: 8px !important;
	}
}
